# Django
SECRET_KEY=replace-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=postgres
POSTGRES_DB=flawle
POSTGRES_USER=postgres
POSTGRES_PASSWORD=AVNS_Kj4unS7kQC5cQQZRdg4
POSTGRES_HOST=pg-368fc8f8-biniyamambachew-622e.i.aivencloud.com
POSTGRES_PORT=14431

# Optional DATABASE_URL (used by some tools)
DATABASE_URL=postgres://avnadmin:AVNS_Kj4unS7kQC5cQQZRdg4@pg-368fc8f8-biniyamambachew-622e.i.aivencloud.com:14431/defaultdb?sslmode=require

# Chapa (payments)
CHAPA_API_KEY=your-chapa-key

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# Other
DEFAULT_FROM_EMAIL=hello@example.com
