# .env.example
DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True

# Database
POSTGRES_DB=flawle
POSTGRES_USER=flawle
POSTGRES_PASSWORD= Bflawle@#5465
POSTGRES_HOST=db
POSTGRES_PORT=5432


# Chapa
CHAPA_SECRET_KEY=CHASECK_TEST-XXXXXXXXXXXXXXXX

# Celery
CELERY_BROKER=redis://redis:6379/0